* {
box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #e90a0a;
  color: #000000;
  font-size: 14px;
  text-align: center;
}

header {
  text-align: center;
  padding: 1.5rem;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-size:12px;
}
#callingtext {
  color: #ffffff;
  font-size: 26px;
}
main {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

figure {
  margin: 2rem 0;
  text-align: center;
}

#mario {
max-width: 100%;
height: auto;
cursor: pointer;
transition: transform 0.2s ease;
display: block;
pointer-events: auto;
margin: 0 auto;
}

#mario.bounce {
transform: scale(1.1) rotate(-2deg);
}
.full-image {
  display: block;
  margin: 2rem auto;
  width: 20vw;
  height: auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  main {
    font-size: 20px;
  }
  .full-image {
    width: 90vw;      /* almost full screen on mobile */
    max-width: 90%;  /* remove desktop cap */
  }
}

.vibrate {
  animation: vibrate 0.1s infinite;
}

@keyframes vibrate {
  0%   { transform: translate(1px, 1px) rotate(0deg); }
  25%  { transform: translate(-1px, -2px) rotate(-1deg); }
  50%  { transform: translate(-3px, 0px) rotate(1deg); }
  75%  { transform: translate(3px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(1deg); }
}


.full-image.picked-up {
  animation: none;
  transform: scale(1.05); /* optional "picked up" effect */
}
.wide{
  width: 90vw;
  max-width:90%;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.85rem;
  background: #fff;
}
#calling {
  padding: 40px 5px;
  font-size: 30px;
}
.gif {
  display: block;
  margin: 2rem auto 3rem auto;  /* top 2rem, horizontal auto, bottom 3rem */
  width: 50vw;
  height: auto;
  max-width: 90%;
}

